In [1]:
import csv

In [2]:
!ls *csv

c:\data\Flights.csv  emp_exp.csv   mytips.csv		  USA_Housing.csv
Chronicdisease.csv   employee.csv  studyhours.csv
demo.csv	     exp.csv	   temperature.csv
department.csv	     location.csv  Titanic_sur_train.csv

In [3]:
lines = [line for line in open('employee.csv')]

In [12]:
lines[1]

'ind-001,Abdul Rehman,CSO,100000,,1\n'

In [14]:
lines[1].strip().split(',')

['ind-001', 'Abdul Rehman', 'CSO', '100000', '', '1']

In [7]:
lines

[',employee id,fullname,position,salary,manager id,department id\n',
 '0,ind-001,Abdul Rehman,CSO,100000,,1\n',
 '1,ind-002,M. Yousuf,CTO,90000,ind-001,1\n',
 "2,ind-003,Joseph D'Souza,CVO,84000,ind-001,1\n",
 '3,ind-004,Mahesh Kalmadi,CWO,70000,ind-002,2\n',
 '4,us-001,Jogender Singh,STO,56000,ind-002,2\n',
 '5,us-002,Syed Mannan,SPO,56000,ind-003,3\n',
 '6,dub-001,John,CTO,50000,ind-002,0\n']

In [13]:
for l in open('employee.csv'):
    print (type(l))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [15]:
import csv
path = 'employee.csv'
file = open(path)
reader = csv.reader(file)
header = next(reader)
for row in reader:
    print (row)

['ind-001', 'Abdul Rehman', 'CSO', '100000', '', '1']
['ind-002', 'M. Yousuf', 'CTO', '90000', 'ind-001', '1']
['ind-003', "Joseph D'Souza", 'CVO', '84000', 'ind-001', '1']
['ind-004', 'Mahesh Kalmadi', 'CWO', '70000', 'ind-002', '2']
['us-001', 'Jogender Singh', 'STO', '56000', 'ind-002', '2']
['us-002', 'Syed Mannan', 'SPO', '56000', 'ind-003', '3']
['dub-001', 'John', 'CTO', '50000', 'ind-002', '0']

In [46]:
[line for line in open('employee.csv') ]

[',employee id,fullname,position,salary,manager id,department id\n',
 '0,ind-001,Abdul Rehman,CSO,100000,,1\n',
 '1,ind-002,M. Yousuf,CTO,90000,ind-001,1\n',
 "2,ind-003,Joseph D'Souza,CVO,84000,ind-001,1\n",
 '3,ind-004,Mahesh Kalmadi,CWO,70000,ind-002,2\n',
 '4,us-001,Jogender Singh,STO,56000,ind-002,2\n',
 '5,us-002,Syed Mannan,SPO,56000,ind-003,3\n',
 '6,dub-001,John,CTO,50000,ind-002,0\n']