In [1]:
# list ;  mutable/updateable
price = [50,60.50,100,200,10]
cities = ["Hyderabad","Mumbai",'Delhi']

In [7]:
price[-2]

200

In [8]:
# tuple;  immutable/non updateable
marks = (50,60,45,70,80)

In [9]:
type(price)

list

In [10]:
type(marks)

tuple

In [12]:
marks[-1]

80

In [14]:
price

[50, 60.5, 100, 200, 10]

In [15]:
price[0]=55

In [16]:
price

[55, 60.5, 100, 200, 10]

In [17]:
marks

(50, 60, 45, 70, 80)

In [18]:
marks[0] = 60

TypeError: 'tuple' object does not support item assignment

In [19]:
price

[55, 60.5, 100, 200, 10]

In [21]:
price[-1]=price[-1]*1.1

In [22]:
price

[55, 60.5, 100, 200, 11.0]

In [23]:
price[0]=price[0]+5

In [24]:
price

[60, 60.5, 100, 200, 11.0]

In [25]:
# set ;  curly brackets
itemsA = {101,102,103}
itemsB = {103,104,105}

In [26]:
itemsA.union(itemsB)

{101, 102, 103, 104, 105}

In [27]:
itemsA.intersection(itemsB)

{103}

In [28]:
itemsA.difference(itemsB)

{101, 102}

In [29]:
itemsB.difference(itemsA)

{104, 105}

In [30]:
itemsA

{101, 102, 103}

In [31]:
itemsB

{103, 104, 105}

In [32]:
itemsAB = itemsA.intersection(itemsB)

In [33]:
itemsAB

{103}

In [34]:
# dict (dictionary) ; key:value
students = {101:'Ahmed',102:'Yousuf'}

In [35]:
students

{101: 'Ahmed', 102: 'Yousuf'}

In [36]:
students[101]

'Ahmed'

In [37]:
students[102]

'Yousuf'

In [38]:
type(students)

dict

In [39]:
type(itemsA)

set

In [41]:
price

[60, 60.5, 100, 200, 11.0]

In [48]:
price.append(200)

In [49]:
price

[60, 60.5, 100, 200, 11.0, 300, 200]

In [50]:
price.count(200)

2

In [51]:
coun_cap = {"India":"Delhi","Sudan":"Khartoum","Yemen":"Sanah"}

In [52]:
coun_cap["Yemen"]

'Sanah'

In [53]:
subj_marks = {"Arabic":90,"English":66,"Math":80,"Physics":60}