In [1]:
salaries= [60000,80000,100000]

In [2]:
[s for s in salaries]

[60000, 80000, 100000]

In [4]:
sal_inc = [s*1.1 for s in salaries]

In [5]:
sal_inc

[66000.0, 88000.0, 110000.00000000001]

In [7]:
[s*1.1 for s in salaries if s>70000]

[88000.0, 110000.00000000001]

In [8]:
commision = [1000,2000,4000]

In [10]:
[(sal+comm) for sal in salaries for comm in commision]

[61000, 62000, 64000, 81000, 82000, 84000, 101000, 102000, 104000]

In [48]:
name = "Datazone Analytics"
name.upper()

'DATAZONE ANALYTICS'

In [20]:
name_new = [letter for letter in name]

In [14]:
type(name)

str

In [15]:
type(name_new)

list

In [17]:
name_new[-1]

's'

In [18]:
name_new

['D',
 'a',
 't',
 'a',
 'z',
 'o',
 'n',
 'e',
 ' ',
 'A',
 'n',
 'a',
 'l',
 'y',
 't',
 'i',
 'c',
 's']

In [29]:
for s in salaries:
    for c in commision:
        print (s,c)

60000 1000
60000 2000
60000 4000
80000 1000
80000 2000
80000 4000
100000 1000
100000 2000
100000 4000

In [42]:
x = zip(salaries,commision)

In [44]:
[sal+comm for sal,comm in x]

[]

In [35]:
print (x)

<zip object at 0x0000000007D6E748>

In [36]:
for i in x:
    print (i)

(60000, 1000)
(80000, 2000)
(100000, 4000)

In [45]:
c_c = [('India','Delhi')]

In [46]:
c_c

[('India', 'Delhi')]