In [6]:
# Tuple
marks = (50,52,55,60,80)

In [7]:
type(marks)

tuple

In [10]:
prices = [10.10,20.50,50,60.310]

In [28]:
type(prices)

list

In [15]:
prices[0]    # element's index number

10.1

In [16]:
prices[-1]     # last element

60.1

In [18]:
prices[3]

60.1

In [19]:
prices

[10.1, 20.5, 50, 60.1]

In [20]:
prices[0] = 20.20

In [21]:
prices

[20.2, 20.5, 50, 60.1]

In [24]:
marks(0) = 90

SyntaxError: can't assign to function call (<ipython-input-24-663af5f83d11>, line 1)

In [27]:
marks[0]

50

In [29]:
prices

[20.2, 20.5, 50, 60.1]

In [30]:
for p in prices:
    print (p)

20.2
20.5
50
60.1

In [31]:
for p in prices:
    if p > 30:
        print (p)

50
60.1

In [33]:
for m in marks:
    if m > 50:
        print (m)

52
55
60
80

In [38]:
prices.append(30)

In [39]:
prices

[20.2, 20.5, 50, 60.1, 120, 30]

In [42]:
prices.sort(reverse=True)

In [43]:
prices

[120, 60.1, 50, 30, 20.5, 20.2]

In [69]:
s1 = {1,2,3}
s2 = {3,4,5}

In [45]:
s1.union(s2)

{1, 2, 3, 4, 5}

In [51]:
s1.intersection_update(s2)

In [47]:
s1.difference(s2)

{1, 2}

In [53]:
s1

{3}

In [49]:
s2

{3, 4, 5}

In [55]:
s3 = s1.intersection(s2)

In [56]:
s3

{3}

In [61]:
fruits = []    # an empty list
for i in range(4):
    f = input("Enter the Fruit name of your choice :")
    fruits.append(f)

Enter the Fruit name of your choice :Apple
Enter the Fruit name of your choice :Apple
Enter the Fruit name of your choice :apple
Enter the Fruit name of your choice :apple

In [62]:
fruits

['Apple', 'Apple', 'apple', 'apple']

In [63]:
org = "DataZone Analytics"

In [64]:
org.()

'DATAZONE ANALYTICS'

In [67]:
org = org.upper()

In [68]:
org

'DATAZONE ANALYTICS'

In [70]:
s1.isdisjoint(s2)

False

In [71]:
s3 = {4,5,6}
s4 = {7,8,9}

In [72]:
s3.isdisjoint(s4)

True

In [73]:
students = {'Math':90,'Physics':60,'Chem':80}

In [74]:
s

{'Chem': 80, 'Math': 90, 'Physics': 60}

In [80]:
for s in students:
    print (students[s])

90
80
60

In [82]:
students['Physics']

60